{% extends 'base.html.twig' %}

{% block title %}New ClientFinal{% endblock %}

{% block body %}
    <h1>Create new ClientFinal</h1>

    {{ include('client_final/_form.html.twig') }}

    <a href="{{ path('client_final_index') }}">back to list</a>
{% endblock %}
