<form method="post" action="{{ path('materiel_v_e_delete', {'id': materiel_v_e.id}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_method" value="DELETE">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ materiel_v_e.id) }}">
    <button class="btn">Delete</button>
</form>
