{% extends 'base.html.twig' %}

{% block title %}New MaterielBI{% endblock %}

{% block body %}
    <h1>Create new MaterielBI</h1>

    {{ include('materiel_b_i/_form.html.twig') }}

    <a href="{{ path('materiel_b_i_index') }}">back to list</a>
{% endblock %}
