{% extends 'base.html.twig' %}

{% block title %}New Alimentation{% endblock %}

{% block body %}
    <h1>Create new Alimentation</h1>

    {{ include('alimentation/_form.html.twig') }}

    <a href="{{ path('alimentation_index') }}">back to list</a>
{% endblock %}
