{% extends 'base.html.twig' %}

{% block title %}New ProcesVerbal{% endblock %}

{% block body %}
    <h1>Create new ProcesVerbal</h1>

    {{ include('proces_verbal/_form.html.twig') }}

    <a href="{{ path('proces_verbal_index') }}">back to list</a>
{% endblock %}
